include ../logo/logo
include ../search/search
include ../icon-btn/icon-btn
include ../menu/menu

mixin header()
    header.header
        .container
            .header__content
                +logo('assets/images/logo.svg')
                +search()
                header.header__btns
                    +icon-btn('./assets/images/favourites.svg', 10)
                    +icon-btn('./assets/images/cart.svg', 2)
        nav.nav
            .container
                +menu()      