.filter-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &__btn{
        display: flex;
        align-items: center;
        .icon-filterCat{
            transition: fill .5s;
        }
    }
    &__text{
        font-weight: bold;
    }

    &:hover{
        cursor: pointer;
        .icon-filterCat{
            fill: color('blue');
            transition: fill .5s;
            cursor: pointer;
        }
    }

}