.filter-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &__btn{
        display: flex;
        align-items: center;
        .icon-filterCat{
            transition: all .5s;
        }
    }
    &__text{
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    &:hover{
        cursor: pointer;
        .icon-filterCat{
            fill: color('blue');
            transition: fill .5s;
            cursor: pointer;
        }
    }

}
.filter-title.is-active + .filter__items{
    display: none;

}
.filter-title.is-active{
    .icon-filterCat{
        transform: rotate(-180deg);
        transition: transform .5s;
    }
}
.filter__items{
    display: block;
}