.color-checkbox{
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    cursor: pointer;
    &__label{
        display: inline-flex;
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
        &_checked{
            position: absolute;
            display: inline-flex;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            transition: opacity .5s, visibility .5s, transform .5s;
            cursor: pointer;
            .icon-check{
                fill: #fff;
            }
        }
    }
    &__input{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        &:checked{
            +.color-checkbox__label_checked{
                opacity: 1;
                visibility: visible;
                &:hover{
                    .icon-check{
                        opacity: 0.5;
                        transition: opacity .5s;
                    }
                }
            }
            transition: all .5s;
        }
    }
    &_white{
        border: solid 1px #9b9b9b;
        margin-right: 0;
        &+.color-checkbox__label_checked{
            .icon-check{
                fill: #0566ff;
            }
        }
    }

}
