include ../footer-link/footer-link

mixin footer()
    footer.footer
        .container
            .row
                .col-xl-14
                    -
                        var footer_link = [
                            {url: "#", title: "Каталог"},
                            {url: "#", title: "Оплата"},
                            {url: "#", title: "Доставка"},
                            {url: "#", title: "Возврат"},
                            {url: "#", title: "Сборка"},
                            {url: "#", title: "Помощь"},
                            {url: "#", title: "Обратная связь"}
                        ]
                    nav.footer-link__nav
                        ul.footer-link__ul
                            each link in footer_link
                                +footer-link(link.url, link.title)
                    .footer__copy
                        |&copy; 2019, Интернет-магазин мебели
                .col-xl-6.offset-xl-4
                    .footer-contact
                        .footer-contact__title
                            |По любым вопросам обращайтесь:
                        a.footer-contact__number.link(href="tel:+74992421254") +7 499 242-12-54

