.footer{
    margin: 0;
    padding: 0;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: color('gray-lighter');
    &-link{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &__copy{
        font-size: 12px;
        color: color('gray');
        margin-top: 20px;
    }
    &-contact{
        text-align: right;
        &__title{
            font-size: 12px;
        }
        &__number{
            font-size: 20px;
            margin-top: 20px; 
        }
    }
}